<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CTestMapper">


    <sql id="selectCTestVo">
        select id,
               mclassid,
               createtime,
               isexamine,
               teststem,
               remarks1,
               remarks2,
               remarks3
        from c_test
    </sql>
    <!--列表-->
    <select id="selectCTestlistPage" resultType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        select c_mcurr.id,
        mclassid,
        c_mcurr.createtime,
        c_mcurr.isexamine,
        teststem,
        c_mcurr.remarks1,
        c_mcurr.remarks2,
        c_mcurr.remarks3,
        (
        CASE
        WHEN c_mcurr.isexamine = 1 THEN '已通过'
        WHEN c_mcurr.isexamine = 2 THEN '未通过'
        END
        ) AS isexaminestr,
        c_mcurr.mname,
        c_test.id testid
        from c_test
        LEFT JOIN c_mcurr ON c_test.mclassid = c_mcurr.id
        WHERE 1 =1

        <if test="pd.mclassid != null  and pd.mclassid != ''  ">
            AND mclassid like '%' #{pd.mclassid} '%'
        </if>
        <if test="pd.createtime != null  and pd.createtime != ''  ">
            AND createtime like '%' #{pd.createtime} '%'
        </if>
        <if test="pd.isexamine != null  and pd.isexamine != ''  ">
            AND isexamine like '%' #{pd.isexamine} '%'
        </if>
        <if test="pd.teststem != null  and pd.teststem != ''  ">
            AND teststem like '%' #{pd.teststem} '%'
        </if>
        <if test="pd.remarks1 != null  and pd.remarks1 != ''  ">
            AND remarks1 like '%' #{pd.remarks1} '%'
        </if>
        <if test="pd.remarks2 != null  and pd.remarks2 != ''  ">
            AND remarks2 like '%' #{pd.remarks2} '%'
        </if>
        <if test="pd.remarks3 != null  and pd.remarks3 != ''  ">
            AND remarks3 like '%' #{pd.remarks3} '%'
        </if>
        <if test="pd.sidx != null  and pd.sidx != ''and pd.sidx != 'null' and pd.sidx != 'undefined' ">
            order by ${pd.sidx} ${pd.order}
        </if>
    </select>
    <!--id-->
    <select id="selectCTestById" resultType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        <include refid="selectCTestVo"/>
        where id = #{id}
    </select>
    <!--保存-->
    <insert id="insertCTest">
        insert into c_test
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="mclassid != null  and mclassid != ''">mclassid,
            </if>

            <if test="createtime != null  and createtime != ''">createtime,
            </if>

            <if test="isexamine != null  and isexamine != ''">isexamine,
            </if>

            <if test="teststem != null  and teststem != ''">teststem,
            </if>

            <if test="remarks1 != null  and remarks1 != ''">remarks1,
            </if>

            <if test="remarks2 != null  and remarks2 != ''">remarks2,
            </if>

            <if test="remarks3 != null  and remarks3 != ''">remarks3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mclassid != null and mclassid != '' ">#{mclassid},
            </if>
            <if test="createtime != null and createtime != '' ">#{createtime},
            </if>
            <if test="isexamine != null and isexamine != '' ">#{isexamine},
            </if>
            <if test="teststem != null and teststem != '' ">#{teststem},
            </if>
            <if test="remarks1 != null and remarks1 != '' ">#{remarks1},
            </if>
            <if test="remarks2 != null and remarks2 != '' ">#{remarks2},
            </if>
            <if test="remarks3 != null and remarks3 != '' ">#{remarks3},
            </if>
        </trim>
    </insert>
    <!--修改-->
    <update id="updateCTest">
        update c_test
        <trim prefix="SET" suffixOverrides=",">
            <if test="mclassid != null  and mclassid != ''">mclassid =
                #{mclassid},
            </if>
            <if test="createtime != null  and createtime != ''">createtime =
                #{createtime},
            </if>
            <if test="isexamine != null  and isexamine != ''">isexamine =
                #{isexamine},
            </if>
            <if test="teststem != null  and teststem != ''">teststem =
                #{teststem},
            </if>
            <if test="remarks1 != null  and remarks1 != ''">remarks1 =
                #{remarks1},
            </if>
            <if test="remarks2 != null  and remarks2 != ''">remarks2 =
                #{remarks2},
            </if>
            <if test="remarks3 != null  and remarks3 != ''">remarks3 =
                #{remarks3},
            </if>
        </trim>
        where id = #{id}
    </update>
    <!--删除-->
    <delete id="deleteCTestById">
        delete
        from c_test
        where id = #{id}
    </delete>
    <!--删除-->
    <delete id="deleteCTestByIds">
        delete from c_test where id in
        <foreach item="id" collection="list" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>