<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CTestItemMapper">


    <sql id="selectCTestItemVo">
        select id, testid, testitem, isture, remarks1, remarks2, remarks3
        from c_test_item
    </sql>
    <!--列表-->
    <select id="selectCTestItemlistPage" resultType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        select id, testid, testitem, isture, remarks1, remarks2, remarks3,
        (
            CASE
            WHEN isture = 1 THEN '正确'
            WHEN isture = 2 THEN '错误'
            END
        ) AS isturestr
        from c_test_item
        WHERE 1 =1

        <if test="pd.testid != null  and pd.testid != ''  ">
            AND testid = #{pd.testid} 
        </if>
        <if test="pd.testitem != null  and pd.testitem != ''  ">
            AND testitem like '%' #{pd.testitem} '%'
        </if>
        <if test="pd.isture != null  and pd.isture != ''  ">
            AND isture like '%' #{pd.isture} '%'
        </if>
        <if test="pd.remarks1 != null  and pd.remarks1 != ''  ">
            AND remarks1 like '%' #{pd.remarks1} '%'
        </if>
        <if test="pd.remarks2 != null  and pd.remarks2 != ''  ">
            AND remarks2 like '%' #{pd.remarks2} '%'
        </if>
        <if test="pd.remarks3 != null  and pd.remarks3 != ''  ">
            AND remarks3 like '%' #{pd.remarks3} '%'
        </if>
        <if test="pd.sidx != null  and pd.sidx != ''and pd.sidx != 'null' and pd.sidx != 'undefined' ">
            order by ${pd.sidx} ${pd.order}
        </if>
    </select>
    <!--id-->
    <select id="selectCTestItemById" resultType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        <include refid="selectCTestItemVo"/>
        where id = #{id}
    </select>
    <!--保存-->
    <insert id="insertCTestItem">
        insert into c_test_item
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="testid != null  and testid != ''">testid,
            </if>

            <if test="testitem != null  and testitem != ''">testitem,
            </if>

            <if test="isture != null  and isture != ''">isture,
            </if>

            <if test="remarks1 != null  and remarks1 != ''">remarks1,
            </if>

            <if test="remarks2 != null  and remarks2 != ''">remarks2,
            </if>

            <if test="remarks3 != null  and remarks3 != ''">remarks3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="testid != null and testid != '' ">#{testid},
            </if>
            <if test="testitem != null and testitem != '' ">#{testitem},
            </if>
            <if test="isture != null and isture != '' ">#{isture},
            </if>
            <if test="remarks1 != null and remarks1 != '' ">#{remarks1},
            </if>
            <if test="remarks2 != null and remarks2 != '' ">#{remarks2},
            </if>
            <if test="remarks3 != null and remarks3 != '' ">#{remarks3},
            </if>
        </trim>
    </insert>
    <!--修改-->
    <update id="updateCTestItem">
        update c_test_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="testid != null  and testid != ''">testid =
                #{testid},
            </if>
            <if test="testitem != null  and testitem != ''">testitem =
                #{testitem},
            </if>
            <if test="isture != null  and isture != ''">isture =
                #{isture},
            </if>
            <if test="remarks1 != null  and remarks1 != ''">remarks1 =
                #{remarks1},
            </if>
            <if test="remarks2 != null  and remarks2 != ''">remarks2 =
                #{remarks2},
            </if>
            <if test="remarks3 != null  and remarks3 != ''">remarks3 =
                #{remarks3},
            </if>
        </trim>
        where id = #{id}
    </update>
    <!--删除-->
    <delete id="deleteCTestItemById">
        delete
        from c_test_item
        where id = #{id}
    </delete>
    <!--删除-->
    <delete id="deleteCTestItemByIds">
        delete from c_test_item where id in
        <foreach item="id" collection="list" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>