<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<!--<head th:include="include :: header"></head>-->
<head th:include="includejqgrid :: includejqgrid">
</head>
<body>
<style>
    .list {
        width: 100%;
        display: none;
        margin: 20px 0 0 0;
    }

    .list {
        display: block;
    }

    label {
        font-weight: bold;
        margin-left: 7%;
        font-size: 20px
    }

    .layui-layer {
        width: 600px;
        margin: 0 auto;
    }

    #color {
        background: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
        color: transparent;
        -webkit-background-clip: text;
        background-size: 200% 100%;
        animation: masked-animation 1s infinite linear;
    }

    @-webkit-keyframes masked-animation {
        100% {
            background-position: -100% 0;
        }
    }
</style>
<div id="rrapp" class="layui-fluid" style="background-color: #F1F1F2">
    <!--搜索-->
    <div class="layui-row">
        <input hidden id="mcurrId" name="mcurrId" th:value="${mcurrId}">
        <div id="sera" class="col-sm-12 search-collapse" style="display: block;">
                        <div class="list" style="margin-left: 35%">
            <!--                <div class="layui-form-item">-->
            <!--                    <label class="layui-form-label">消息通知</label>-->
            <!--                    <div class="layui-input-block">-->
            <!--                        <input name="is_notice" value="1" type="radio" title="通知" checked="">-->
            <!--                        <input name="is_notice" value="0" type="radio" title="不通知">-->
            <!--                    </div>-->
            <!--                </div>-->

                            <div class="layui-form" >
                                <div class="layui-form-item" v-for="(answer,index) in answerList">
                                    <label class="layui-font-20" >{{index+1}}.{{answer.teststem}}</label>
                                    <div class="layui-input-block" v-for="option in answer.optionlist">
                                        <input type="radio" :lay-filter="`wh${index+1}`" :name="`wh${index+1}`" :value="option.id" :title="option.testitem">
<!--                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>{{option.testitem}}</div></div>-->
                                    </div>
<!--                                    <div class="layui-input-block">-->
<!--                                        <input type="radio" lay-filter="wh1" name="wh1" value="a" title="A:浙江嘉兴南湖红船">-->
<!--                                    </div>-->

            <!--                        <div class="layui-input-block">-->
            <!--                            <input type="radio" lay-filter="wh1" name="wh1" value="b" title="B:浙江嘉兴南湖会景园">-->
            <!--                        </div>-->
            <!--                        <div class="layui-input-block">-->
            <!--                            <input type="radio" lay-filter="wh1" name="wh1" value="c" title="C:浙江嘉兴南湖勺园">-->
            <!--                        </div>-->
            <!--                        <div class="layui-input-block">-->
            <!--                            <input type="radio" lay-filter="wh1" name="wh1" value="d" title="D:浙江嘉兴南湖英雄园">-->
            <!--                        </div>-->
                                </div>
                            </div>
                        </div>
<!--            <div class="list">-->
<!--                <label class="layui-font-20">1:中国共产党宣布成立的地方是哪里?</label>-->
<!--                <div class="layui-form">-->
<!--                    <div class="layui-form-item">-->
<!--                        <div class="layui-input-block">-->
<!--                            <input type="radio" lay-filter="wh1" name="wh1" value="a" title="A:浙江嘉兴南湖红船">-->
<!--                        </div>-->
<!--                        <div class="layui-input-block">-->
<!--                            <input type="radio" lay-filter="wh1" name="wh1" value="b" title="B:浙江嘉兴南湖会景园">-->
<!--                        </div>-->
<!--                        <div class="layui-input-block">-->
<!--                            <input type="radio" lay-filter="wh1" name="wh1" value="c" title="C:浙江嘉兴南湖勺园">-->
<!--                        </div>-->
<!--                        <div class="layui-input-block">-->
<!--                            <input type="radio" lay-filter="wh1" name="wh1" value="d" title="D:浙江嘉兴南湖英雄园">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="list">-->
<!--                <label class="layui-font-20">1:中国共产党宣布成立的地方是哪里?</label>-->
<!--                <div class="layui-form">-->
<!--                    <div class="layui-form-item">-->
<!--                        <div class="layui-input-block">-->
<!--                            <input type="radio" lay-filter="wh1" name="wh1" value="a" title="A:浙江嘉兴南湖红船">-->
<!--                        </div>-->
<!--                        <div class="layui-input-block">-->
<!--                            <input type="radio" lay-filter="wh1" name="wh1" value="b" title="B:浙江嘉兴南湖会景园">-->
<!--                        </div>-->
<!--                        <div class="layui-input-block">-->
<!--                            <input type="radio" lay-filter="wh1" name="wh1" value="c" title="C:浙江嘉兴南湖勺园">-->
<!--                        </div>-->
<!--                        <div class="layui-input-block">-->
<!--                            <input type="radio" lay-filter="wh1" name="wh1" value="d" title="D:浙江嘉兴南湖英雄园">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div style="margin-top: 200px;text-align: center">
                <button id="confirm" @click="confirm" type="button" class="layui-btn layui-btn-normal" >提交</button>
<!--                <button id="cancel"  type="button" @click="cancel()" class="layui-btn layui-btn-primary">取消</button>-->
            </div>

        </div>
    </div>
        <!--按钮-->
        <!--    <div id="anniu" class="layui-row">-->
        <!--        <div class="col-sm-12">-->
        <!--            <a class="btn btn-success" @click="addPage()">-->
        <!--                <i class="fa fa-plus"></i> 新增-->
        <!--            </a>-->
        <!--            <a class="btn btn-primary btn-edit" @click="editPage()">-->
        <!--                <i class="fa fa-edit"></i> 修改-->
        <!--            </a>-->
        <!--            <a class="btn btn-danger btn-del " @click="del()">-->
        <!--                <i class="fa fa-remove"></i> 删除-->
        <!--            </a>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--jqgrid-->
        <!--    <div class="layui-row" style="background-color: white;">-->
        <!--        &lt;!&ndash;jqgrid表格&ndash;&gt;-->
        <!--        <div id="jq" class="col-sm-12">-->
        <!--            <table id="jqGrid" data-mobile-responsive="true"></table>-->
        <!--            <div id="jqGridPager" style="background-color: white"></div>-->
        <!--        </div>-->
        <!--    </div>-->

        <!--表单-->
        <form style="padding: 10px" hidden action="" id="editLayer">
            <input type="hidden" name="id">
            <div class="layui-form-item layui-form-text">
                <label style="width: 100px" class="layui-form-label"> 试卷id
                </label>
                <div style="margin-right: 20px" class="layui-input-block">
                    <input type="text" name="testid" v-model="edit.testid" required
                           lay-verify="testid" placeholder="请输入" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label style="width: 100px" class="layui-form-label"> 学生id
                </label>
                <div style="margin-right: 20px" class="layui-input-block">
                    <input type="text" name="stuid" v-model="edit.stuid" required
                           lay-verify="stuid" placeholder="请输入" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label style="width: 100px" class="layui-form-label"> 答案id
                </label>
                <div style="margin-right: 20px" class="layui-input-block">
                    <input type="text" name="stuanswer" v-model="edit.stuanswer" required
                           lay-verify="stuanswer" placeholder="请输入" class="layui-input">
                </div>
            </div>

        </form>
<!--        <th:block th:include="include :: footer2" />-->
        <script src="/js/cStuTest/cStuTest.js" type="text/javascript"></script>
    </div>
</body>
</html>