<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CGreadMapper">


    <sql id="selectCGreadVo">
        select id,gradnum,createtime,remarks1,remarks2,remarks3 from c_gread
    </sql>
    <!--列表-->
    <select id="selectCGreadlistPage" resultType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        <include refid="selectCGreadVo"/>
        WHERE 1 =1

                                                        <if test="pd.gradnum != null  and pd.gradnum != ''  ">
                    AND gradnum like '%' #{pd.gradnum} '%'
                </if>
                                                <if test="pd.createtime != null  and pd.createtime != ''  ">
                    AND createtime like '%' #{pd.createtime} '%'
                </if>
                                                <if test="pd.remarks1 != null  and pd.remarks1 != ''  ">
                    AND remarks1 like '%' #{pd.remarks1} '%'
                </if>
                                                <if test="pd.remarks2 != null  and pd.remarks2 != ''  ">
                    AND remarks2 like '%' #{pd.remarks2} '%'
                </if>
                                                <if test="pd.remarks3 != null  and pd.remarks3 != ''  ">
                    AND remarks3 like '%' #{pd.remarks3} '%'
                </if>
                            <if test="pd.sidx != null  and pd.sidx != ''and pd.sidx != 'null' and pd.sidx != 'undefined' ">
            order by ${pd.sidx} ${pd.order}
        </if>
    </select>
    <!--id-->
    <select id="selectCGreadById" resultType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        <include refid="selectCGreadVo"/>
        where id = #{id}
    </select>
    <!--保存-->
    <insert id="insertCGread"  >
        insert into c_gread
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                        
                    <if test="gradnum != null  and gradnum != ''">gradnum,
                    </if>
                                            
                    <if test="createtime != null  and createtime != ''">createtime,
                    </if>
                                            
                    <if test="remarks1 != null  and remarks1 != ''">remarks1,
                    </if>
                                            
                    <if test="remarks2 != null  and remarks2 != ''">remarks2,
                    </if>
                                            
                    <if test="remarks3 != null  and remarks3 != ''">remarks3,
                    </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="gradnum != null and gradnum != '' ">#{gradnum},
                    </if>
                                                                <if test="createtime != null and createtime != '' ">#{createtime},
                    </if>
                                                                <if test="remarks1 != null and remarks1 != '' ">#{remarks1},
                    </if>
                                                                <if test="remarks2 != null and remarks2 != '' ">#{remarks2},
                    </if>
                                                                <if test="remarks3 != null and remarks3 != '' ">#{remarks3},
                    </if>
                                    </trim>
    </insert>
    <!--修改-->
    <update id="updateCGread">
        update c_gread
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="gradnum != null  and gradnum != ''">gradnum =
                        #{gradnum},
                    </if>
                                                                <if test="createtime != null  and createtime != ''">createtime =
                        #{createtime},
                    </if>
                                                                <if test="remarks1 != null  and remarks1 != ''">remarks1 =
                        #{remarks1},
                    </if>
                                                                <if test="remarks2 != null  and remarks2 != ''">remarks2 =
                        #{remarks2},
                    </if>
                                                                <if test="remarks3 != null  and remarks3 != ''">remarks3 =
                        #{remarks3},
                    </if>
                                    </trim>
        where id = #{id}
    </update>
    <!--删除-->
    <delete id="deleteCGreadById">
        delete from c_gread where id = #{id}
    </delete>
    <!--删除-->
    <delete id="deleteCGreadByIds">
        delete from c_gread where id in
        <foreach item="id" collection="list" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>