<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CMcurrMapper">


    <sql id="selectCMcurrVo">
        select c_mcurr.id,
               c_mcurr.mname,
               c_mcurr.teacherid,
               c_mcurr.createtime,
               c_mcurr.isexamine,
               c_mcurr.parentid,
               c_mcurr.remarks1,
               c_mcurr.remarks2,
               c_mcurr.remarks3,
               sys_user.user_name teachername,
               ( CASE
                     WHEN isexamine = 2 THEN '未通过'
                     WHEN isexamine = 1 THEN '已通过'
                   END
                   ) AS isexaminestr
        from c_mcurr
                 LEFT JOIN sys_user ON sys_user.user_id = c_mcurr.teacherid
    </sql>
    <!--列表-->
    <select id="listBystudentlistPage" resultType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        select c_mcurr.id,
        c_mcurr.mname,
        c_mcurr.teacherid,
        c_mcurr.createtime,
        c_mcurr.isexamine,
        c_mcurr.parentid,
        c_mcurr.remarks1,
        c_mcurr.remarks2,
        c_mcurr.remarks3,
        sys_user.user_name teachername,
        (SELECT c_stuscore.ispass FROM c_stuscore WHERE c_stuscore.mcrurrid = c_mcurr.id AND c_stuscore.userid=#{pd.userid}) ispass,
        (SELECT c_stuscore.mcurrscore FROM c_stuscore WHERE c_stuscore.mcrurrid = c_mcurr.id AND c_stuscore.userid=#{pd.userid}) mcurrscore,
        ( CASE
        WHEN isexamine = 2 THEN '未通过'
        WHEN isexamine = 1 THEN '已通过'
        END
        ) AS isexaminestr
        from c_mcurr
        LEFT JOIN sys_user ON sys_user.user_id = c_mcurr.teacherid
        WHERE 1 = 1

        <if test="pd.mname != null  and pd.mname != ''  ">
                AND mname like '%' #{pd.mname} '%'
            </if>
            <if test="pd.teachername != null  and pd.teachername != ''  ">
                AND sys_user.user_name like '%' #{pd.teachername} '%'
            </if>
            <if test="pd.createtime != null  and pd.createtime != ''  ">
                AND createtime like '%' #{pd.createtime} '%'
            </if>
            <if test="pd.isexamine != null  and pd.isexamine != ''  ">
                AND isexamine = #{pd.isexamine}
            </if>
            <if test="pd.parentid != null  and pd.parentid != ''  ">
                AND parentid like '%' #{pd.parentid} '%'
            </if>
            <if test="pd.remarks1 != null  and pd.remarks1 != ''  ">
                AND remarks1 like '%' #{pd.remarks1} '%'
            </if>
            <if test="pd.remarks2 != null  and pd.remarks2 != ''  ">
                AND remarks2 like '%' #{pd.remarks2} '%'
            </if>
            <if test="pd.remarks3 != null  and pd.remarks3 != ''  ">
                AND remarks3 like '%' #{pd.remarks3} '%'
            </if>
            <if test="pd.sidx != null  and pd.sidx != ''and pd.sidx != 'null' and pd.sidx != 'undefined' ">
                order by ${pd.sidx} ${pd.order}
            </if>
    </select>
    <select id="selectCMcurrlistPage" resultType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        <include refid="selectCMcurrVo"/>
        WHERE 1 =1

        <if test="pd.mname != null  and pd.mname != ''  ">
            AND mname like '%' #{pd.mname} '%'
        </if>
        <if test="pd.teacherid != null  and pd.teacherid != ''  ">
            AND teacherid = #{pd.teacherid}
        </if>
        <if test="pd.createtime != null  and pd.createtime != ''  ">
            AND createtime like '%' #{pd.createtime} '%'
        </if>
        <if test="pd.isexamine != null  and pd.isexamine != ''  ">
            AND isexamine = #{pd.isexamine}
        </if>
        <if test="pd.parentid != null  and pd.parentid != ''  ">
            AND parentid like '%' #{pd.parentid} '%'
        </if>
        <if test="pd.remarks1 != null  and pd.remarks1 != ''  ">
            AND remarks1 like '%' #{pd.remarks1} '%'
        </if>
        <if test="pd.remarks2 != null  and pd.remarks2 != ''  ">
            AND remarks2 like '%' #{pd.remarks2} '%'
        </if>
        <if test="pd.remarks3 != null  and pd.remarks3 != ''  ">
            AND remarks3 like '%' #{pd.remarks3} '%'
        </if>
        <if test="pd.sidx != null  and pd.sidx != ''and pd.sidx != 'null' and pd.sidx != 'undefined' ">
            order by ${pd.sidx} ${pd.order}
        </if>
    </select>
    <!--id-->
    <select id="selectCMcurrById" resultType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        <include refid="selectCMcurrVo"/>
        where id = #{id}
    </select>
    <!--保存-->
    <insert id="insertCMcurr">
        insert into c_mcurr
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="mname != null  and mname != ''">mname,
            </if>

            <if test="teacherid != null  and teacherid != ''">teacherid,
            </if>

            <if test="createtime != null  and createtime != ''">createtime,
            </if>

            <if test="isexamine != null  and isexamine != ''">isexamine,
            </if>

            <if test="parentid != 'a'">parentid,
            </if>

            <if test="remarks1 != null  and remarks1 != ''">remarks1,
            </if>

            <if test="remarks2 != null  and remarks2 != ''">remarks2,
            </if>

            <if test="remarks3 != null  and remarks3 != ''">remarks3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mname != null and mname != '' ">#{mname},
            </if>
            <if test="teacherid != null and teacherid != '' ">#{teacherid},
            </if>
            <if test="createtime != null and createtime != '' ">#{createtime},
            </if>
            <if test="isexamine != null and isexamine != '' ">#{isexamine},
            </if>
            <if test="parentid != 'a' ">#{parentid},
            </if>
            <if test="remarks1 != null and remarks1 != '' ">#{remarks1},
            </if>
            <if test="remarks2 != null and remarks2 != '' ">#{remarks2},
            </if>
            <if test="remarks3 != null and remarks3 != '' ">#{remarks3},
            </if>
        </trim>
    </insert>
    <!--修改-->
    <update id="updateCMcurr">
        update c_mcurr
        <trim prefix="SET" suffixOverrides=",">
            <if test="mname != null  and mname != ''">mname =
                #{mname},
            </if>
            <if test="teacherid != null  and teacherid != ''">teacherid =
                #{teacherid},
            </if>
            <if test="createtime != null  and createtime != ''">createtime =
                #{createtime},
            </if>
            <if test="isexamine != null  and isexamine != ''">isexamine =
                #{isexamine},
            </if>
            <if test="parentid != null  and parentid != ''">parentid =
                #{parentid},
            </if>
            <if test="remarks1 != null  and remarks1 != ''">remarks1 =
                #{remarks1},
            </if>
            <if test="remarks2 != null  and remarks2 != ''">remarks2 =
                #{remarks2},
            </if>
            <if test="remarks3 != null  and remarks3 != ''">remarks3 =
                #{remarks3},
            </if>
        </trim>
        where c_mcurr.id = #{id}
    </update>
    <!--删除-->
    <delete id="deleteCMcurrById">
        delete
        from c_mcurr
        where id = #{id}
    </delete>
    <!--删除-->
    <delete id="deleteCMcurrByIds">
        delete from c_mcurr where id in
        <foreach item="id" collection="list" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <resultMap id="knowlegeTree" type="com.jzysoft.commonmoudle.lib.config.page.PageData">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="title" column="title"></result>
        <collection property="children" column="{parentid=id}" select="lightKnowledgeTree"
        ofType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        </collection>
    </resultMap>
    <select id="lightKnowledgeTreeChild" resultMap="knowlegeTree">
        select c_mcurr.id, c_mcurr.mname AS `name`,c_mcurr.mname AS `title`,c_mcurr.parentid
        FROM c_mcurr
        WHERE  c_mcurr.`parentid` =  #{parentid} AND  c_mcurr.isexamine = 1
    </select>

    <select id="lightKnowledgeTree" resultMap="knowlegeTree">
        select c_mcurr.id, c_mcurr.mname AS `name`,c_mcurr.mname AS `title`,c_mcurr.parentid
        FROM c_mcurr
        WHERE c_mcurr.isexamine = 1 AND c_mcurr.`parentid` =  #{parentid}
    </select>

    <select id="selectPassCurr" resultType="com.jzysoft.commonmoudle.lib.config.page.PageData">
        select c_stuscore.mcrurrid from c_stuscore
        WHERE c_stuscore.userid = #{userid} AND ispass = "及格"
    </select>
</mapper>